{
  "presets":[
    ["env",
      {
        "modules":false,
        "debug":false,
        "useBuiltIns":true,
        "targets":{
          "browsers":"> 1%"
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "babel-plugin-transform-object-rest-spread",
    "babel-plugin-transform-class-properties",
    ["import",{"libraryName": "antd", "libraryDirectory": "es", "style": true }]
  ],
  "env":{
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}